<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-body">
          Name: <span class="blue-hover" pTooltip="Edit your displayed Name" tooltipPosition="right" (click)="displayNameDialogue=true;">
            {{cUser.displayName ? cUser.displayName : '—'}}<i *ngIf="!cUser.displayName" class="far fa-frown"
              style="padding-left: 0.1vw;"></i></span><br><br>
          Email: <span class="blue-hover" pTooltip="Edit your email address" tooltipPosition="right" (click)="displayEmailDialogue=true;">
            {{cUser.email}}</span><br><br>
          PhotoURL: <span class="blue-hover" pTooltip="Edit your photo URL" tooltipPosition="right" (click)="displayEmailUrlDialogue=true;">
            {{cUser.photoURL ? cUser.photoURL.substring(0,30)+"..." : '—'}}<i *ngIf="!cUser.photoURL" class="far fa-frown"
              style="padding-left: 0.1vw; width: 10rem"></i></span>

          <div class=" fixed-plugin">
            <div class=" show-dropdown" ngbDropdown>
              <a data-toggle="dropdown" ngbDropdownToggle>
                <i class=" fa fa-cog fa-2x"> </i>
              </a>
              <ul ngbDropdownMenu>
                <li class=" header-title">Sidebar Background</li>
                <li class=" adjustments-line">
                  <a class=" switch-trigger background-color" href="javascript:void(0)">
                    <div class=" badge-colors text-center">
                      <span class=" badge filter badge-danger" [ngClass]="{'active':sidebarColor==='red'}"
                        (click)="updateSidebarColor('red')">
                      </span>
                      <span class=" badge filter badge-primary" [ngClass]="{'active':sidebarColor==='primary'}"
                        (click)="updateSidebarColor('primary')"></span>
                      <span class=" badge filter badge-info" [ngClass]="{'active':sidebarColor==='blue'}"
                        (click)="updateSidebarColor('blue')"></span>
                      <span class=" badge filter badge-success" [ngClass]="{'active':sidebarColor==='green'}"
                        (click)="updateSidebarColor('green')">
                      </span>
                    </div>
                    <div class=" clearfix"></div>
                  </a>
                </li>
                <li class=" adjustments-line text-center color-change">
                  <span class=" color-label"> LIGHT MODE </span>
                  <span class=" badge light-badge mr-2" (click)="updateDashboard('white-content')"> </span>
                  <span class=" badge dark-badge ml-2" (click)="updateDashboard('black-content')"> </span>
                  <span class=" color-label"> DARK MODE </span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Edit your displayed Name" [(visible)]="displayNameDialogue" (onHide)="nameInput.value = ''" [style]="{width: '45vw'}">
   <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText [placeholder]="cUser.displayName ? cUser.displayName : 'Cool Username'" [style]="{width: '35vw'}" #nameInput required>
        </div>
        <br>
        <div class="d-flex justify-content-center">
        <button pButton type="button" label="Submit" class="p-button-text" style="border: 2px solid grey;" [disabled]="!nameInput.value" (click)="updateName(nameInput.value)"></button>
        </div>
    </div>
</p-dialog>
<p-dialog header="Edit your sign-in email" [(visible)]="displayEmailDialogue" (onHide)="emailInput.value = '';userPwd.value=''" [style]="{width: '45vw'}">
  <div class="p-col-12 p-md-4">
       <div class="p-inputgroup">
           <span class="p-inputgroup-addon"><i>@</i></span>
           <input type="email" pInputText [placeholder]="cUser.email" [style]="{width: '35vw'}" type="email" email="true" ngModel #emailInput required>
       </div>
       <br>
       <label for="userPwd">Please confirm your password</label>
       <input type="password" class="form-control" placeholder="Password" required #userPwd style="background-color: rgb(232, 240, 254);color: black;">
       <br>
       <div class="d-flex justify-content-center">
       <button pButton type="button" label="Submit" class="p-button-text" style="border: 2px solid grey;" [disabled]="!emailInput.value || !emailInput.value.includes('@') || !emailInput.value.includes('.') || !userPwd.value || emailInput.value == cUser.email" (click)="updateEmail(emailInput.value, userPwd.value)"></button>
       </div>
   </div>
</p-dialog>
<p-dialog header="Edit your displayed Name" [(visible)]="displayEmailUrlDialogue" (onHide)="urlInput.value = ''">
  <div class="p-col-12 p-md-4">
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText [placeholder]="cUser.photoURL ? cUser.photoURL : 'Your favorite image url...'" [style]="{width: '35vw'}" #urlInput required>
    </div>
    <br>
    <div class="d-flex justify-content-center">
    <button pButton type="button" label="Submit" class="p-button-text" style="border: 2px solid grey;" [disabled]="!urlInput.value" (click)="updateEmailURL(urlInput.value)"></button>
    </div>
</div>
</p-dialog>
