<div class="container pt-5">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info p-3">
        <div class="authBlock">
          <h3>Sign in</h3>
          <div class="formGroup">
            <input type="text" class="form-control" placeholder="Username" required [(ngModel)]="userName" (ngModelChange)="updateSignInButtonDisabled()">
          </div>
          <div class="formGroup">
            <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="userPassword" (ngModelChange)="updateSignInButtonDisabled()">
          </div>
          <div class="formGroup">
            <input type="button" class="btn btn-primary btn-block" value="Sign in" [disabled]="signInButtonDisabled"
              (click)="authService.SignIn(userName, userPassword)">
          </div>
          <div class="formGroup">
            <button type="button" class="btn btn-danger btn-block" (click)="authService.GoogleAuth()">
              Log in with Google
            </button>
          </div>
          <div class="forgotPassword">
            <span routerLink="/forgot-password" class="text-hover" style="cursor: pointer;"
            pTooltip="&#9889;&nbsp;Reset your passowd in case you forgot it, by providing us with your account registratin email."
            tooltipPosition="bottom">Forgot Password?</span>
          </div>
        </div>
        <div class="redirectToLogin">
          <span><span pTooltip="&#9940;&nbsp;In order to play our games, you have to use an account." tooltipPosition="bottom">Not registered yet?</span>&nbsp;
          <span class="redirect text-hover" style="cursor: pointer;" routerLink="/sign-up" pTooltip="&#9917;&nbsp;Create a free account in order to be able to play our games!"
          tooltipPosition="bottom">Register</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
