/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-tns-c109-0 {
  z-index: 999!important;
}

.ng-tns-c109-0.ng-trigger.ng-trigger-messageAnimation.p-message.p-message-error.ng-star-inserted {
  position: relative!important;
}
