<footer class="navbar fixed-bottom">
  <div class="container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://github.com/IulianaPopescu97/websysproject/wiki">
          About us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://github.com/IulianaPopescu97/websysproject">
          Source code
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://developer.marvel.com/">
          Marvel API
        </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made with
      <i class=" tim-icons icon-heart-2"> </i>
    </div>
  </div>
</footer>
